#index-body{
    text-align: center;
    background-color: rgba(72, 142, 196, 0.344);
    color: rgb(165, 26, 72);
}

.index-list{
    font-size: 20px;
    color: rgb(31, 24, 10);
}

img {
    height: auto;
    width: 400px;
}